@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

/* Global */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    background-color: white;
    font-family: lato, sans-serif;
    font-weight: bold;
    
}

/* navigation bar */

.menu-bar {
    background: #06467F;
    text-align: right;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li {
    width: 100%;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}

.menu-bar ul li:hover {
    background: #2bab0d;
    border-radius: 10px;
}


/* IHE logo */

#logo {
    float: left;
    font-size: 100%;
    margin-left: 50px;
    padding: 15px;
}

#logo h1 {
    color: #fff;
}

/* hero image */
#hero-image{
   display: flex;
   height: 90vh;
   justify-content: center;
   align-items: center;
   
}
.hero{
   height: 85%;
   width: 80%;
   position: relative;
}
.hero img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 30px;
   
}
.headline{
   position: absolute;
   top: 40%;
   left: 25%;
   font-size: 40px;
   transform: translate(-20%, -70%);
   color: white;
   z-index: 3;
   background-color: #d5dadf;
}
span{
   transition: all 2s ease;
   
}
span.fade{
   color: #63024e;
}

.go-to-quiz{
   color: white;
   text-decoration: none;
   margin-left: 20px;
   margin-top: 10px;
   font-size: 15px;
   background-color: #0099F7;
   padding: 5px;
   padding-left: 10px;
   display: flex;
   width: 90px;
   border-radius: 10px;
   text-align: center;
   position: absolute;
    top: 48%;
    left: 72%;
    transform: translate(-20%, -70%);
    z-index: 3;
    
  
}
/*
.hero::after{
   content: "";
   background: black;
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   opacity: 0.3;
   top: 0;
}*/

/*quiz title heading and button for quiz instruction */

.quiz-heading{
    text-align: center; 
    color: white;
    letter-spacing: 2px;
    position: absolute;
    top:190px;
    justify-content: center;
    margin-left: 700px;
   
}

.quiz-heading h1{
    font-size: 18px; 
    color: white;
    text-align: center;
    
 }
 
 .btn-quiz{
    width: 150px;
    height:40px;
    border-radius: 5px;
    border:none;
    background-color:#0099F7;
    font-size: 18px ;
    text-align: center;      
    color:white;
    letter-spacing: 2px;
    cursor: pointer;
    margin-top: 200px;
   
 }
 
 .btn-quiz:hover{
    color: rgb(0, 153, 255);
    background-color: white;
        
 }

 /*-------quize rule instruction section------*/
 .instruction-box{
    position:absolute;
    justify-content: center;
    transform: translate(-100% ,-100%);
    top: 100%;
    left: 40%;
    border-radius: 10px;
    background-color: whitesmoke;
    max-width:500px;
    display:none;
 }
 .instruction-box-1{
    position:absolute;
    justify-content: center;
    transform: translate(-100% ,-100%);
    top:65%;
    left: 65%;
    border-radius: 10px;
    background-color: whitesmoke;
    max-width:500px;
    
 }
 .quiz-rule h2{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    color: black;
   
    
 }
/*    
 .quiz-instruction {
    list-style: none;
    font-weight: 500;
    text-align: justify;
    padding : 5px;
 }
 */
 .quiz-instruction li{
    font-size: 15px;
    padding:10px;
    line-height: 15px;
    margin-left: 25px;
    list-style: none;  
 }
 
 .best {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    color: green;
   
 }

 
/*section for questions, andd next buttons----*/

.question-baskets{
    position:absolute;
    justify-content: center;
    transform: translate(-60% ,-60%);
    top:50%;
    left: 55%;
    border-radius: 15px;
    background-color: whitesmoke;
    width: 800px;
    
   
 }
 .question-basket{
    position:absolute;
    justify-content: center;
    transform: translate(-60% ,-60%);
    top:50%;
    left: 55%;
    border-radius: 15px;
    background-color: whitesmoke;
    width:800px;
    display:none;
 }
 
 .hide{
    display: none;
 }


 
 .main-question-container{
    display: flex;
    border-bottom: 3px solid rgb(4, 100, 76);
    text-align: center;
    justify-content: center;
    padding-top:10px;
 }
 
 .question-heading{
    padding:10px;
   
 }

/* timer */
 h3{
   float: right;
   margin-left: 590px;
   color: rgb(230, 7, 7);
   font-size: 1.2rem;
}
 /* question and answer box */
 #question{
    padding: 15px;
    font-size: 18px;
    line-height: 28px;
    margin-left: 10px;
  
 }
 
 .answer-option{
    display:block;
    padding:8px;
    margin:14px;
    background: #d6e0e0; 
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
 }
 
 .answer-option > p{
   text-align: left;
 }
 
 /* color change to green when answer is correct */
 
 .answer-option.green{
    background: #0A4B02;
    color: #fff;
     
 }
 
 /* icolor chnage to red when answer is incorrect */
 
 .answer-option.red{
    background: #942424;
    color:#fff;
  
 }
 
 .answer-option.unable-answer{
    pointer-events: none;
 
 }
 /* style for button */
 .button{
    display: flex;
    margin-bottom:20px;
    justify-content: center;
    text-align: center;
    margin-top:20px;
 
 }
 .click-button{
  
    width:150px;
    height:40px;
    font-size:large;
    background: #005B94; 
    border-radius: 5px;
    color:white;
    border:none;
    cursor:pointer;
    margin: 5px;
    text-align:center;
 }

 [disabled='true'] { background: grey;}
 /*
 .back{
    text-align: center;
    margin:10px;
    width:150px;
    height:40px;
    font-size:large;
    background: #2c3e50; 
    /*background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  
    background: linear-gradient(to right, #3498db, #2c3e50); */
   /* border-radius: 5px;
    color:white;
    border:none;
    cursor:pointer;
 }*/
 /*
 .submit:hover{
    background:#64b3f4;
   
 }
 
 .back:hover{
    background:#64b3f4;
  
 }*/
 /*score card section */
 .score{
    text-align: center;
    display: flex;
    justify-content: center;
  
 }
 .points{
    padding: 5px;
    text-align: center;
    justify-content: center;
    color: #970202;
    
 }

 .point{
   padding: 5px;
   text-align: center;
   justify-content: center;
   color: #074013
}
  /* try quiz again*/
 
 .try-quiz{
    display: none;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    width:85%;
    background-color: white;
      
    
 }
 .try-again{
    width: 900px;
 }
 
 .try-quiz-again{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    max-width: 700px;
    border-radius: 20px;
    background-color: white;
    
 }
 
 .message{
    padding:10px;
    font-size: 20px;
    text-align: center;
    color:black;
    margin-top:20px;
 
 }
 
 .final-outcome{
   display:flex;
   color: black;
   justify-content: center;
   text-align: center;
   font-weight: 500;
 
 }
 
 #try-again{
   text-align: center;
   margin:10px;
   width:150px;
   height:40px;
   font-size:large;
   background: #005B94;  
   border-radius: 5px;
   color:white;
   border:none;
   cursor:pointer;
 }
 
 #try-again:hover{
   background:#64b3f4;
   
 } 

 .highlight-message{
   
color: #24a707;

 }
 .highlight-message-1{
   
   color: rgb(155, 104, 9);
   
    }
    .highlight-message-2{
         color:  rgb(250, 12, 12);  
      
   }
 
 /* footer */

.social-media {
   text-align: center;
}

.social-media >li {
   display: inline;
}

.social-media i {
   font-size: 170%;
   margin: 25px;
   padding: 25px;
   color: #3a3a3a;
}
.social-media a {
   text-decoration: none;
}
.author{
   text-align: center;
   margin-bottom: 35px;
   font-size: small;
}



/*feedback page */

#feedback {
   clear: both;
   padding-left: 30px;
   
   
}

.contact-form {
   color: #151414;
   background-color: #fff;
   max-width: 800px;
   padding: 30px;
   border-radius: 10px;
   margin: 0 auto;
   margin-top: 1.5%;
}

.contact-heading h1 {
   color: #046231;
   margin-bottom: 40px;
}

.contact-details {
   width: 550px;
}

.contact-details h2 {
   margin-bottom: 20px;
}

.contact-details input {
   background: transparent;
   color: #151414;
   width: 100%;
   height: 30px;
   margin: 10px 0 25px 0;
   border: 1px solid #5c5a5a;
   border-radius: 2px;
}

.contact-details input:hover {
   border-color: rgb(153, 8, 32);
   cursor: pointer;
}

.contact-details fa {
   margin-left: 25px;
}

.additional-remarks {
   margin-top: 20px;
}

.additional-remarks h2 {
   margin-bottom: 20px;
}

.additional-remarks textarea {
   border-color: #be0e0e;
   border-radius: 5px;
   width: 100%;
   margin-top: 10px;
   height: 15rem;
   background-color: #edf3f0;
}

.submit-button {
   margin-top: 15px;
   border-radius: 5px;
   padding: 10px 20px 10px 20px;
   text-align: center;
   font-size: 110%;
   background-color: #0ad17e;
   color: #000000;
   display: inline-block;
}

.submit-button:hover {
   background-color: rgb(4, 82, 39);
   color: #e74c3c;
   cursor: pointer;
}

.form-layout {
   text-align: left;
   max-width: 800px;
   display: flex;
}

/* media querries */

/*For screen size larger than 1400px */


@media screen and (min-width: 1401px) {
/*Home page */
.headline{
   font-size: 30px;
   padding: 10px;
   left: 40%;
   
   }
   
   .go-to-quiz{
      left: 68%;
   }

/*Quiz page */

   /*quiz page */
   .hero{
      height: 95%;
   }
   .quiz-heading{
      margin-left: 700px;
      top: 270px;
    
   }
   .instruction-box-1 {
      transform: translate(-0% ,-0%);
      top: 30%;
      left: 35%;
      right: 15%;
      max-width: 600px;
   }
   .question-baskets {
      transform: translate(-0% ,-0%); 
      top: 30%; 
      left: 31%; 
      right: 10%;
      width: 800px;
         }
   
   h3{
      margin-left: 350px;
   }
   .highlight-message {
      font-size: 20px;
   }
   
   .message{
      width: 650px;
      font-size: 25px;
   }
   .highlight-message-1 {
      font-size: 15px;
   }
}

/*For screen size larger than 993px */

@media screen and (min-width: 993px) and (max-width: 1400px) {


/*Home page */
.headline{
font-size: 30px;
padding: 10px;
left: 15%;

}

.go-to-quiz{
   left: 68%;
}
/*quiz page */
.quiz-heading{
   margin-left: 250px;
   top: 300px;
 
}
.instruction-box-1 {
   transform: translate(-0% ,-0%);
   top: 30%;
   left: 20%;
   right: 15%;
   max-width: 600px;
}
.question-baskets {
   transform: translate(-0% ,-0%); 
   top: 27%; 
   left: 14%; 
   right: 10%;
   width: 750px;
      }

h3{
   margin-left: 350px;
}
.highlight-message {
   font-size: 19px;
}

.message{
   width: 550px;
}
}

/* media querries */

/*For tablet screen size from 768 -992 px */

@media screen and (min-width: 768px) and (max-width: 992px) {

   /*Home page */
   .headline{
      font-size: 25px;
      padding: 10px;
      
      }
   .go-to-quiz{
      left: 81%;
   }   

     /* Quiz page */
.quiz-heading{
   margin-left: 100px;
}
.quiz-heading h1{
   margin-left: 40px;
}
.instruction-box-1 {
      transform: translate(-0% ,-0%);
      top: 30%;
      left: 18%;
      right: 15%;
}
.question-baskets {
   transform: translate(-0% ,-0%);
   top: 25%;
   left: 15%;
   right: 5%;
   width: 550px;
   }
   h3{
      margin-left: 300px;
   }
   .quiz-heading h1{
      font-size: 20px;
      text-align: center;
      padding: 20px;
      margin-top: 5px;
      margin-left: 120px;
      margin-right: 20px;
   }
   .btn-quiz{
      margin-left: 70px;
   }
   }

/*For screen size max width 767 px */

@media screen and (max-width: 767px) {

   /*Home page */
   .headline{
      top: 50%;
      left: 15%;
      right: 15%;
      font-size: 20px;
      text-align: center;
      }
   .go-to-quiz {
      font-size: 12px;
      width: 75px;
      top: 58%;
      left: 55%;
   }
         /* Quiz page */

   .quiz-heading{
      margin-left: 0px;
      width: 350px;
   }

   .instruction-box-1 {
      transform: translate(-0% ,-0%);
      top: 25%;
      left: 10%;
      right: 10%;
}
.question-baskets {
   transform: translate(-0% ,-0%); 
   top: 24%; 
   left: 10%; 
   right: 5%;
   width: 290px;
   
   }
h3{
   margin-left: 50px;
   margin-top: 20px;
   font-size: 15px;
   color: red;
}
.quiz-heading h2{
   font-size: 14px;
   margin-top: 15px;
   text-align: center;
   margin-left: 35px;
   margin-right: 25px;
}
.quiz-rule h2{
   font-size: 18px;
   color: #3498db;
}
.question-heading h2{
   font-size: 18px;
   font-weight: bold;
   
}
.questions{
   font-size: 17px;
}
.menu-bar ul li {
   padding: 5px;
}
#logo{
   padding: 5px;
   font-size: 12px;
   margin-left: 8px;
   margin-top: 8px;
}

.hero{
   height: 95%;
   margin-top: 50px;
}

   .message{
      font-size: 18px;
   }
   .try-quiz-again{
      top: 65%;
   }

   /*contact page */
   .contact-details {
      width: 250px;
  }

  .contact-details h2 {
   font-size: 20px;
  }
  .additional-remarks h2 {
   margin-bottom: 5px; 
   font-size: 20px;
}
#feedback{
   padding-left: 20px;
}
   

/* footer */

.social-media i {
   font-size: 130%;
   margin-top: 45px;
   padding: 1px;
  
}
.social-media a {
   text-decoration: none;
}
.quiz-instruction li {
   padding: 15px;
}
#question{
   font-size: 15px;
}
.answer-option{
   font-size: 15px;
}
.restart_quiz {
      top: 60%;
}
}

